@charset "utf-8";
*{
	margin:0;padding:0;
}
ul,li{
	list-style:none;
}
a{
	text-decoration:none;
}
html{
	font-size: 100px;
}
body{
	font-size: .16rem;
	font-family:"Myriad Set Pro","Lucida Grande","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif,'Microsoft Yahei',Simsun;
	background-color:#ffd82b;
}
/*==========主体===============*/
main{
	margin-top:1.4rem;
}
.post_img1{
	margin:0 auto;
	height:1.2rem;
	width:2rem;
	background:url(image/boot_logo-88fb0b99.png) no-repeat;
	background-size:2rem auto;
}
.post_img2{
	width:.5rem;
	margin:0 auto;
}
.post_img2 div{
	margin-left:.04rem;
	height:.35rem;
	background:url(image/boot_gps-5f778fd8.png) no-repeat;
	background-size:.35rem auto;
}